/*Lecture.css*/

/* Section Headers */
.lecture-section-header {
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 0;
  margin-left: 0.5rem;
	color: #000;
}
.dark .lecture-section-header {
	color: #ddd;
}

/* Header Gradient Decorator */
.lecture-header-decorator {
  width: 65%;
  height: 3px;
  background: linear-gradient(to right, rgb(59 130 246), rgb(147 51 234), transparent);
  border-radius: 9999px;
  margin-bottom: 0.5rem;
}

/* Paragraphs */
.lecture-paragraph {
  margin-bottom: 0.75rem;
	color: #222;
}
.dark .lecture-paragraph {
	color: #bbb;
}


/* Tables */
.lecture-table {
  width: 100%;
  margin-top: 0.5rem;
  border-collapse: collapse;
}

.lecture-table-row {
  border-bottom: 2px solid rgba(75, 85, 99, 0.5);
}

.lecture-table-header {
  font-weight: 700;
  padding-right: 1rem;
  padding-left: 0.5rem;
	color: #000;
}

.dark .lecture-table-header {
	color: #ddd;
}

.lecture-table-cell {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
	color: #222;
}
.dark .lecture-table-cell {
	color: #bbb;
}

/* Links */
.lecture-link {
  font-weight: 700;
	color:#000;
}

.dark .lecture-link {
	color:#ddd;
}


.lecture-link-blue {
  font-weight: 700;
  color: rgb(59 130 246);
  cursor: pointer;
  transition: opacity 300ms;
}

.lecture-link-blue:hover {
  opacity: 0.7;
}

.dark .lecture-link-blue {
	color: rgb(96 165 250);
}

/* Tab Navigation */
.lecture-tab-container {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(75, 85, 99, 0.5);
}

.lecture-tab {
  padding: 0.5rem 1rem;
  font-weight: 600;
  transition: all 200ms;
  border-bottom: 2px solid;
  cursor: pointer;
  user-select: none;
	color:#000;
	opacity: 0.5;
}
.dark .lecture-tab {
	color:#ddd;
}

.lecture-tab-active {
	opacity: 1;
  border-bottom-color: rgb(59 130 246);
}

.lecture-tab-inactive {
  border-bottom-color: transparent;
}

.lecture-tab-inactive:hover {
  opacity: 0.7;
}

.lecture-tab-content {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 1rem;
	border-radius: 0px 0px 20px 20px;
	background-color: rgba(236, 245, 237, 0.533);
	color:#555;
}

.dark .lecture-tab-content{
	background-color:#1e1e2780;
	color:#777;
}

/* Image Containers */
.lecture-image-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
	color: #ddd;
  font-size: 0.75rem;
  padding: 0.5rem;
  text-align: center;
}

/* List Items with Background */
.lecture-list-item-card {
  background-color: rgba(181, 213, 214, 0.185);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  margin-bottom: 1rem;
}

.dark .lecture-list-item-card {
	background-color: rgba(43, 43, 78, 0.377);
}


/* Code Inline */
.lecture-code-inline {
  border-radius: 0.5rem;
}
