# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Local Netlify folder
.netlify
.VSCodeCounter/2025-04-13_16-14-32/details.md
.VSCodeCounter/2025-04-13_16-14-32/diff-details.md
.VSCodeCounter/2025-04-13_16-14-32/diff.csv
.VSCodeCounter/2025-04-13_16-14-32/diff.md
.VSCodeCounter/2025-04-13_16-14-32/diff.txt
.VSCodeCounter/2025-04-13_16-14-32/results.csv
.VSCodeCounter/2025-04-13_16-14-32/results.json
.VSCodeCounter/2025-04-13_16-14-32/results.md
.VSCodeCounter/2025-04-13_16-14-32/results.txt
