
/* Combined class for whole line highlighting */
.running-line-highlight {
	background-color: #fff1c2;
	border-left-width: 4px;
	border-left-style: solid;
	border-left-color: #f0c545;
}

.dark	.running-line-highlight {
		background-color: #1e293b;
		border-left-color: #0f3c7a;
	}
