/*Custom styling for popups*/

/* Custom validation popup */
.custom-validation-popup {
  position: absolute;
  background: var(--khr);
  border-radius: 0.5rem;
  padding: 0.75rem 1rem;
  font-size: 0.875rem;
  color: white;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  z-index: 1000;
  max-width: 250px;
  pointer-events: none;
  animation: validation-fade-in 0.4s ease;
  width: max-content;
}

.custom-validation-popup::before {
  content: "";
  position: absolute;
  top: -8px;
  left: 1rem;
  width: 20px;
  height: 20px;
  background: var(--khr);
  transform: rotate(45deg);
	border-radius: 2px;;
}

@keyframes validation-fade-in {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* Invalid input styling 
input:invalid:not(:placeholder-shown),
textarea:invalid:not(:placeholder-shown),
select:invalid:not(:placeholder-shown) {
  border-color: rgb(239, 68, 68) !important;
}

.dark input:invalid:not(:placeholder-shown),
.dark textarea:invalid:not(:placeholder-shown),
.dark select:invalid:not(:placeholder-shown) {
  border-color: rgb(248, 113, 113) !important;
}

/* Valid input styling 
input:valid:not(:placeholder-shown),
textarea:valid:not(:placeholder-shown),
select:valid:not(:placeholder-shown) {
  border-color: rgb(34, 197, 94);
}

.dark input:valid:not(:placeholder-shown),
.dark textarea:valid:not(:placeholder-shown),
.dark select:valid:not(:placeholder-shown) {
  border-color: rgb(74, 222, 128);
}*/