@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
/*
*{
  outline: #0f0 2px solid;
  
}
*:hover{
  outline: #00f 2px solid;
}*/


:root{
  --khr: #EC343E;
  --kho: #F47820;
  --khy: #FEE606;
  --khg: #1AB157;
  --khb: #01AFEE;
  --khp: #EC018C;
  --khv: #9544ff;
}

.tout{
  -webkit-text-fill-color: #FFF;
  -webkit-text-stroke: 11px #000;
  paint-order: stroke fill;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.tc1 {
  color:#000;
}
.dark .tc1 {
  color:#ddd;
}

.tc2 {
  color:#222;
}
.dark .tc2 {
  color:#bbb;
}

.tc3 {
  color:#555;
}
.dark .tc3 {
  color:#777;
}

.tc4 {
  color:#bbb;
}
.dark .tc4 {
  color:#222;
}

.tc5 {
  color:#ddd;
}
.dark .tc5 {
  color:#000;
}


.bg1 {
  background-color:#fff;
}
.dark .bg1 {
  background-color:#040404;
}

.bg2 {
  background-color:#eee;
}
.dark .bg2 {
  background-color:#141418;
}

.bg3 {
  background-color:#ddd;
}
.dark .bg3 {
  background-color:#181620;
}

.bg4 {
  background-color:#222;
}
.dark .bg4 {
  background-color:#ddd;
}

.bg5 {
  background-color:#000;
}
.dark .bg5 {
  background-color:#fff;
}

.bt1{
  cursor: pointer;
  user-select: none;
  background-color: none;
}
.dark .bt1{
  background-color: none;
}
.bt1:hover{
  background-color: #0001;
}
.dark .bt1:hover{
  background-color: #fff1;
}


.bt2{
  cursor: pointer;
  user-select: none;
  background-color: #0001;
  transition: transform 0.2s ease,
              background-color 0.3s ease,
              box-shadow 0.3s ease;
}

.bt2:hover:active{
  transform: translateY(1px);
  box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.2);
}

.dark .bt2{
  background-color: #fff2;
}
.bt2:hover{
  background-color: #0002;
  transform: translateY(-1px);
}


.dark .bt2:hover{
  background-color: #fff3;
}

.bd1{
  background-color: #00000010;
  backdrop-filter: blur(2px);
}

.dark .bd1{
  background-color: #ffffff10;
}



.wg svg{
  transition: transform 0.2s ease;
}
.wg:hover svg{
  animation: wiggle 0.25s ease 1;
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(-10deg); }
  75% { transform: rotate(10deg); }
  100% { transform: rotate(0deg); }
}

@keyframes jiggle {
  0% { transform: translateY(0); }
  25% { transform: translateY(-4); }
  75% { transform: translateY(4); }
  100% { transform: translateY(0); }
}

.no-sb{
  scrollbar-width: none;
  -ms-overflow-style: none;

}
/*thin scrollbar with noi buttons and transparent background*/
.thin-sb{
  scrollbar-width: thin;
  -ms-overflow-style: thin;
  
}

@keyframes spin {
  from {
    transform: rotate(0deg) ;
  }
  to {
    transform: rotate(360deg) 
  }
}

.spin {
  animation: spin 8s linear infinite;
}

/* Variations with different speeds */
.spin-slow {
  animation: spin 20s linear infinite;
}
.spin-veryslow {
  animation: spin 500s linear infinite;
}

.spin-fast {
  animation: spin 3s linear infinite;
}

.anisvg path{
  stroke-dasharray: 500;
  fill-opacity: 0;
  stroke-opacity: 0;
  stroke-dashoffset: 500;
  animation: dash-move 5s linear forwards;
  stroke-linecap: round;
  stroke-width: 5px;
}

@keyframes dash-move{

  0% {
    stroke-dashoffset: 500;
    stroke-opacity: 0;
    fill-opacity: 0;
  }
  5% {
    stroke-opacity: 1;
  }
  45%{
    fill-opacity: 0;
  }
  50% {
    fill-opacity: 1;
  }
  95% {
    stroke-opacity: 1;
  }
  100% {
    stroke-dashoffset: -500;
    fill-opacity: 1;
    stroke-opacity: 0;

  }
}

.rainbow-text{
  position: relative;
  top:0;
  left:0;
  animation: rainbow 1s normal 0s 10 linear,
             updown 1s normal 0s 10 ease;
  filter:saturate(200%);
 }

 @keyframes rainbow {
  0%     { color: #ff6666; } /* Bright red */
  16.67% { color: #ffcc66; } /* Bright orange */
  33.33% { color: #ffff66; } /* Bright yellow */
  50%    { color: #66ff66; } /* Bright green */
  66.67% { color: #6666ff; } /* Bright blue */
  83.33% { color: #9966ff; } /* Bright indigo */
  100%   { color: #ff6666; } /* Bright red */
}

@keyframes updown{
  25%{
    top:-2px;
  }
  75%{
    top:2px;
  }
}

@keyframes fade-in{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.fade-in{
  animation: fade-in 1s ease;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}

.scale-101 {
  transform: scale(1.01);
}

.scale-102 {
  transform: scale(1.02);
}

@keyframes hwipe-in{
  0%{
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }
  100%{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
.hwipe-in{
  animation: hwipe-in 1s ease;
}

@keyframes shift-in{
  0%{
    max-height: 0;
  }
  100%{
  }
}
.shift-in{
  animation: shift-in 1s ease;
}

@keyframes shift-out{
  0%{
  }
  100%{
    max-height: 0;
  }
}
.shift-out{
  animation: shift-out 1s ease;
}

.be{
  border-radius: 12px;
  padding: 10px 20px;
  margin: 10px auto;
  background-color: #f9f8f6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  width: 100%;
  max-width: 80vw;
  margin-bottom: 40px;
  font-size: 1.2rem;
}
.be:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
 .dark .be{
  background-color: #28282d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.dark .be:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7);
}



.eq{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: fit-content;
  min-width: 50%;
  max-width: 100%;
  margin: 30px auto;
  padding:20px;
  outline: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  font-size: 1rem; /* Base font size */
  overflow: hidden;
}

@media (max-width: 1024px) {
  .eq {
    font-size: 0.8rem;
  }
}


@media (max-width: 600px) {
  .eq {
    font-size: 0.4rem;
    min-width: 80%;
  }
}
.eq:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 4px rgba(0, 0, 0, 0.3);
  outline-color: rgba(0, 0, 0, 0.2);
}

.dark .eq {
  background-color: #222;
  outline-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.dark .eq:hover {
  box-shadow: 0 8px 4px rgba(0, 0, 0, 0.7);
  outline-color: rgba(255, 255, 255, 0.2);
}

.recharts-wrapper .recharts-cartesian-grid-horizontal line:first-child,
.recharts-wrapper .recharts-cartesian-grid-horizontal line:last-child,
.recharts-wrapper .recharts-cartesian-grid-vertical line:first-child,
.recharts-wrapper .recharts-cartesian-grid-vertical line:last-child {
  stroke-opacity: 0 !important;
}

.lnk {
  display: inline-block;
  padding: 6px 12px;
  border: 2px solid transparent;
  color: #007bff;
  text-decoration: none;
  transition: all 0.3s ease;
  border-radius: 2em;
}

.lnk:hover {
  color: #0056b3;
  border-color: #0056b380;
  text-decoration: none;
}

.lnk:focus,
.lnk:active {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}

.dark .lnk {
  color: #66baff80;
}

.dark .lnk:hover {
  color: #a0d8ff;
  border-color: #a0d8ff80;
  text-decoration: none;
}

/*.MathJax, .mjx-chtml, .mjx-svg {
  font-size: 90% !important; 

}/**/

.select-outline{
  outline: 2px solid #000;
  outline-offset: 2px;
  outline-style: dashed;
}

.dark .select-outline{
  outline: 2px solid #fff;
  outline-offset: 2px;
}

.mini-scroll::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.mini-scroll::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.mini-scroll::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

.mini-scroll::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}

@keyframes slowpulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes wobble {
  0% { transform: rotate(-5deg); }
  50% { transform: rotate(5deg); }
  100% { transform: rotate(-5deg); }
}
.slowpulse {
  animation: slowpulse 8s ease infinite;
}
.slowwobble {
  animation: wobble 20s ease infinite;
}

@keyframes tabSlideIn {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  100% {
    transform: scaleX(1);
    transform-origin: left;
  }
}

@layer utilities {
  .animate-tabSlideIn {
    animation: tabSlideIn 0.3s forwards ease-out;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.rotate:hover svg{
  animation: rotate 0.5s ease 1;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translate(0, 10px);
  }
  10% {
    opacity: 1;
    transform: translate(0, 0);
  }
  90% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(0, 10px);
  }
}