@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root{
  --khr: #EC343E;
  --kho: #F47820;
  --khy: #FEE606;
  --khg: #1AB157;
  --khb: #01AFEE;
  --khp: #EC018C;
}

.tout{
  -webkit-text-fill-color: #FFF;
  -webkit-text-stroke: 11px #000;
  paint-order: stroke fill;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.tc1 {
  color:#000;
}
.dark .tc1 {
  color:#ddd;
}

.tc2 {
  color:#222;
}
.dark .tc2 {
  color:#bbb;
}

.tc3 {
  color:#555;
}
.dark .tc3 {
  color:#777;
}

.bg1 {
  background-color:#fff;
}
.dark .bg1 {
  background-color:#040404;
}

.bg2 {
  background-color:#eee;
}
.dark .bg2 {
  background-color:#141418;
}

.bg3 {
  background-color:#ddd;
}
.dark .bg3 {
  background-color:#181620;
}

.bg4 {
  background-color:#222;
}
.dark .bg4 {
  background-color:#ddd;
}

.bg5 {
  background-color:#000;
}
.dark .bg5 {
  background-color:#fff;
}

.bt1{
  cursor: pointer;
  user-select: none;
  background-color: none;
}
.dark .bt1{
  background-color: none;
}
.bt1:hover{
  background-color: #0001;
}
.dark .bt1:hover{
  background-color: #fff1;
}


.bt2{
  cursor: pointer;
  user-select: none;
  background-color: #0001;
  transition: transform 0.2s ease,
              background-color 0.3s ease,
              box-shadow 0.3s ease;
}

.bt2:hover:active{
  transform: translateY(1px);
  box-shadow: inset 0 0 10px 0 rgba(0,0,0,0.2);
}

.dark .bt2{
  background-color: #fff2;
}
.bt2:hover{
  background-color: #0002;
  transform: translateY(-1px);
}


.dark .bt2:hover{
  background-color: #fff3;
}

.bd1{
  background-color: #00000010;
  backdrop-filter: blur(2px);
}

.dark .bd1{
  background-color: #ffffff10;
}



.wg svg{
  transition: transform 0.2s ease;
}
.wg:hover svg{
  animation: wiggle 0.25s ease 1;
}

@keyframes wiggle {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(-10deg); }
  75% { transform: rotate(10deg); }
  100% { transform: rotate(0deg); }
}

@keyframes jiggle {
  0% { transform: translateY(0); }
  25% { transform: translateY(-4); }
  75% { transform: translateY(4); }
  100% { transform: translateY(0); }
}

.no-sb{
  scrollbar-width: none;
  -ms-overflow-style: none;

}
/*thin scrollbar with noi buttons and transparent background*/
.thin-sb{
  scrollbar-width: thin;
  -ms-overflow-style: thin;
  
}

@keyframes spin {
  from {
    transform: rotate(0deg) ;
  }
  to {
    transform: rotate(360deg) 
  }
}

.spin {
  animation: spin 8s linear infinite;
}

/* Variations with different speeds */
.spin-slow {
  animation: spin 20s linear infinite;
}
.spin-veryslow {
  animation: spin 500s linear infinite;
}

.spin-fast {
  animation: spin 3s linear infinite;
}

.anisvg path{
  stroke-dasharray: 500;
  fill-opacity: 0;
  stroke-opacity: 0;
  stroke-dashoffset: 500;
  animation: dash-move 10s linear forwards;
  stroke-linecap: round;
  stroke-width: 5px;
}

@keyframes dash-move{

  0% {
    stroke-dashoffset: 500;
    stroke-opacity: 0;
    fill-opacity: 0;
  }
  5% {
    stroke-opacity: 1;
  }
  45%{
    fill-opacity: 0;
  }
  50% {
    fill-opacity: 1;
  }
  95% {
    stroke-opacity: 1;
  }
  100% {
    stroke-dashoffset: -500;
    fill-opacity: 1;
    stroke-opacity: 0;

  }
}

.rainbow-text{
  position: relative;
  top:0;
  left:0;
  animation: rainbow 1s normal 0s 10 linear,
             updown 1s normal 0s 10 ease;
  filter:saturate(200%);
 }

 @keyframes rainbow {
  0%     { color: #ff6666; } /* Bright red */
  16.67% { color: #ffcc66; } /* Bright orange */
  33.33% { color: #ffff66; } /* Bright yellow */
  50%    { color: #66ff66; } /* Bright green */
  66.67% { color: #6666ff; } /* Bright blue */
  83.33% { color: #9966ff; } /* Bright indigo */
  100%   { color: #ff6666; } /* Bright red */
}

@keyframes updown{
  25%{
    top:-2px;
  }
  75%{
    top:2px;
  }
}

@keyframes fade-in{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.fade-in{
  animation: fade-in 1s ease;
}

@keyframes hwipe-in{
  0%{
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  }
  100%{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}
.hwipe-in{
  animation: hwipe-in 1s ease;
}

@keyframes shift-in{
  0%{
    max-height: 0;
  }
  100%{
  }
}
.shift-in{
  animation: shift-in 1s ease;
}